<label for="fullname">Name</label>
<input type="text" id="fullname" name="fullname">
<label for="phone">Phone</label>
<input type="tel" id ="phone" name="phone">

<div class="container1">
<div class="row1">
  <button>Rent vs. Own Analysis Calculator</button>
  <button>How to Write A Great Offer</button>
  <button>10 Steps to Home Ownership</button>
</div>

<div class="row2">
  <button>Getting Out of a Lease</button>
  <button>Never Sell Your First Home</button>
  <button>What Mortgage Lenders Are Looking For</button>
</div>
</div>

<div class="submit">
<button>Submit</button>
</div>

